

/* Selektor Znacznika */
h1 {
    color: blue;
    text-align: center
}
P { 
    text-align: center }

    

.square1 {
    background-color: orange;
    margin: 24px;
    width: 200px;
    height: 200px;
}